<!DOCTYPE html>
<html ng-app="bmcApp">
<head>
	<meta charset="utf-8">
	<title>Business Model Canvas</title>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="public/css/layout.css">
</head>
<body ng-controller="CanvasController" dropzone>
	<nav>
		<a href="" ng-click="describeHowToOpenCanvas()" title="open canvas"><i class="fa fa-folder-open"></i></a>
		<a href="" ng-click="saveBMC()" title="save canvas"><i class="fa fa-download"></i></a>
		<a href="" ng-click="clearBMC()" title="clear canvas"><i class="fa fa-eraser"></i></a>
	</nav>
	<main>
		<!-- sections are numbered according to the book -->
		<!-- top row -->
		<section canvas-block info="KeyPartnerships" class="s8"></section>
		<div class="single">
			<section canvas-block info="KeyActivities" class="s7"></section><br>
			<section canvas-block info="KeyResources" class="s6"></section>
		</div>
		<section canvas-block info="ValuePropositions" class="s2"></section>
		<div class="single">
			<section canvas-block info="CustomerRelationships" class="s4"></section><br>
			<section canvas-block info="Channels" class="s3"></section>
		</div>
		<section canvas-block info="CustomerSegments" class="s1"></section>
		<!-- bottom row -->
		<section canvas-block info="CostStructure" class="s9"></section>
		<section canvas-block info="RevenueStreams" class="s5"></section>
	</main>
	<div id="dropHover"><i class="fa fa-folder-open"></i></div>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="public/bower_components/FileSaver.js/FileSaver.js"></script>
	<script src="public/js/app.js"></script>
	<script src="public/js/controllers.js"></script>
</body>
</html>
