* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding: 25px 25px 25px 75px;
	/* 
	min-width: 1024px;
	min-height: 500px;
	*/
	font-family: 'open sans';
	background-color: #f0f0f0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav {
	position: fixed;
	width: 50px;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding: 25px 10px;
	font-weight: lighter;
	background-color: #01A4A4;
}

	nav > a {
		display: block;
		position: relative;
		margin-bottom: 25px;
		color: #fff;
		outline: none;
		font-size: 12px;
		text-decoration: none;
		transition: all 0.3s;
	}

	nav > a:hover {
		text-shadow: 7px 4px 10px hsla(0,0%,0%,0.4);
	}

	nav > a > i {
		font-size: 25px;
	}

main {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	overflow: auto;
	height: 100%;
	background-color: #fff;
}

section {
	float: left;
	position: relative;
	padding: 1vmin;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
	section > h1 {
		padding: 0;
		margin: 0 5vmin 0 0;
		line-height: 1.3em;
		font-weight: normal;
		font-size: 1.7vmin;
		cursor: help;
	}

	section > .fa {
		position: absolute;
		font-size: 2vmin;
		color: #333;
		right: 1vmin;
		top: 1vmin;
	}

	section > ul {
		margin: 1vh 0 0 0;
		padding: 0 0 0 1vw;
		list-style: none;
		font-weight: lighter;
	}

	section > ul > li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 10px 15px;
		font-family: 'coming soon';
		cursor: pointer;
		background-color: #FDFCCE;
		box-shadow: 0 1px 2px 0px hsla(0, 0%, 0%, 0.5);
		-webkit-transform: rotate(-3deg); /* Safari */
		-moz-transform: rotate(-3deg); /* Firefox */
		-ms-transform: rotate(-3deg); /* IE */
		-o-transform: rotate(-3deg); /* Opera */
	}

block,
.single {
	display: block;
	float: left;
}

/* tall boxes */
.s8,
.s2,
.s1, 
.single {
	height: 70%;
	width: 20%;
}

/* short boxes */
.s7,
.s6,
.s4,
.s3 {
	width: 100%;
	height: 50%;
}

/* bottom row */
.s9,
.s5 {
	height: 30%;
	width: 50%;
}
